<head>
  <title>{{site.title}}</title>
  <meta charset="utf-8">
  <meta name="description" content="The New Covid-19-Pro">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#333">
  <meta name="apple-mobile-web-app-capable" content="type">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Covid-19-Pro">

  <link rel="apple-touch-icon" href="assets/icons/pandeminc152.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="lib/jquery.min.js"></script>
  <script src="lib/popper.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="assets/scripts/install.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
  <script src="{{ "/assets/scripts/native.js" | relative_url }}"></script>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register("{{ '/service-worker.js' | relative_url }}")
          .then((reg) => {
            console.log('Service worker registered.', reg.scope);
          }, (err) => {
            console.log('ServiceWorker registration failed', err);
          });
      });
    }
  </script>
  <link rel="manifest" type="application/json" href="{{ "/manifest.json" | relative_url }}">
  <style>
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
      height:400px;
    }

    h1 {
      text-align: center;
      margin-top: 30px;
    }

    .covTitle {
      padding: 50px;
      max-width: 70%;
    }

    .slogan {
      text-align: center;
      padding-top: 20px;
      font-weight: 100;
      font-size: 85%;
    }

    .menuImg {
      width: 100%;
    }

    .gal-wrapper {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      /* IE 10 */
      display: flex;
      -ms-flex-wrap: wrap;
      /* IE 10 */
      flex-wrap: wrap;
      padding: 0 4px;
    }

    /* Create two equal columns that sits next to each other */
    .column {
      -ms-flex: 50%;
      /* IE 10 */
      flex: 50%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
    }


    @media (max-width: 576px) {

      .topbar {
        display: none;
      }

      .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 16px 0 16px;
        z-index: 9999;
      }

      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .navbar a.active {
        background-color: #505050;
      }

      .main {
        padding: 16px;
        margin-bottom: 30px;
      }

      ul.compare {
        list-style: none;
        font-size: 15px;
        font-family: 'Open Sans';
        color: #ffffff;
        padding: 0px;
        margin: 0px;
      }

      li.compare {
        border-bottom: 1px solid #494a5a;
        padding: 0px;
        margin: 0px;
        text-align: center;
        min-height: 52px;
        line-height: 52px;
      }

      #container {
        width: 100% !important;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 55px;
      }

      .whole {
        display: inline-block;
        padding-top: 20px;
      }

      .type {
        width: 380px;
        border-radius: 5px 5px 0px 0px;
        background-color: #000000;
        height: 62px;
        border-bottom: 3px solid #1a1a1a;
      }

      .type p {
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 29px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding-top: 10px;
      }

      .plan {
        width: 380px;
        background-color: rgb(32, 32, 32);
        border-radius: 0px 0px 5px 5px;
        font-family: 'Open Sans';
        font-style: condensed;
        font-size: 90px;
        color: white;
        text-align: center;
      }

      .header-compare {
        border-bottom: 1px solid #494a5a;
        padding-bottom: 39px;
      }

      .header-compare span {
        font-size: 32px;
      }

      .price {
        height: 80px;
      }

      .cart {
        color: white;
        top: 16px;
        padding-top: 5%;
      }

      .price a {
        font-size: 16px;
        font-family: 'Open Sans';
        color: white;
        text-decoration: none;
      }

      .compare-img {
        height: 220px;
        width: 220px;
        padding: 10px;
      }

    }

    @media (min-width: 576px) {
      .topbar {
        overflow: hidden;
        background-color: #333;
      }

      .topbar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topbar a.active {
        background-color: #505050;
        color: white;
      }

      .navbar {
        display: none;
      }

      ul.compare {
        list-style: none;
        font-size: 15px;
        font-family: 'Open Sans';
        color: #ffffff;
        padding: 0px;
        margin: 0px;
      }

      li.compare {
        border-bottom: 1px solid #494a5a;
        padding: 0px;
        margin: 0px;
        text-align: center;
        height: 52px;
        line-height: 52px;
      }

      #container {
        width: 100% !important;
        text-align: center;
        margin-top: 25px;
      }

      .whole {
        display: inline-block;
      }

      .type {
        width: 520px;
        border-radius: 5px 5px 0px 0px;
        background-color: #000000;
        height: 62px;
        border-bottom: 3px solid #1a1a1a;
      }

      .type p {
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 29px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding-top: 10px;
      }

      .plan {
        width: 520px;
        background-color: rgb(32, 32, 32);
        border-radius: 0px 0px 5px 5px;
        font-family: 'Open Sans';
        font-style: condensed;
        font-size: 90px;
        color: white;
        text-align: center;
      }

      .header-compare {
        border-bottom: 1px solid #494a5a;
        padding-bottom: 39px;
      }

      .header-compare span {
        font-size: 32px;
      }

      .price {
        height: 80px;
      }

      .cart {
        color: white;
        position: relative;
        top: 16px;
      }

      .price a {
        font-size: 16px;
        font-family: 'Open Sans';
        color: white;
        text-decoration: none;
      }

      .compare-img {
        height: 220px;
        width: 220px;
        padding: 10px;
      }

      .add-button {
        position: relative;
      }
    }
  </style>
</head>