<div class="topbar">
  <a href="{{ "/index" | relative_url }}" {% if page.id == "home" %} class="active" {%- endif -%}><img style="margin-bottom: 5px; margin-right: 10px"
      src="assets/pandeminc.png" alt="" >Pandem, Inc.</a>
  <a href="{{ "/compare" | relative_url }}"  {% if page.id == "compare" %} class="active" {%- endif -%}>Comparatifs</a>
  <a href="{{ "/gallery" | relative_url }}"  {% if page.id == "gallery" %} class="active" {%- endif -%}>Gallerie</a>
  <a href="{{ "/shop" | relative_url }}"  {% if page.id == "shop" %} class="active" {%- endif -%}>Boutique</a>
  <a href="{{ "/nativeFeatures" | relative_url }}"  {% if page.id == "nativeFeatures" %} class="active" {%- endif -%}>Fonctionnalités natives</a>
</div>

<div class="navbar">
  <a href="{{ "/index" | relative_url }}" {% if page.id == "home" %} class="active" {%- endif -%} onclick="doVibrate();"><img class="menuImg" src="assets/pandeminc.png" alt=""></a>
  <a href="{{ "/compare" | relative_url }}" {% if page.id == "compare" %} class="active" {%- endif -%} onclick="doVibrate();"><img class="menuImg" src="assets/compare.png" alt=""></a>
  <a href="{{ "/gallery" | relative_url }}" {% if page.id == "gallery" %} class="active" {%- endif -%} onclick="doVibrate();"><img class="menuImg" src="assets/gallery.png" alt=""></a>
  <a href="{{ "/shop" | relative_url }}" {% if page.id == "shop" %} class="active" {%- endif -%} onclick="doVibrate();"><img class="menuImg" src="assets/shop.png" alt=""></a>
  <a href="{{ "/nativeFeatures" | relative_url }}" {% if page.id == "nativeFeatures" %} class="active" {%- endif -%} onclick="doVibrate();"><img class="menuImg" src="assets/phone.png" alt=""></a>
</div>
