---
layout: default
---
<div id="container">
  <div class="whole">
    <div class="type">
      <p>COVID-19</p>
    </div>
    <div class="plan">
      <div class="header-compare">
        <img class="d-block mx-auto compare-img" src="assets/img/covid19.png" alt="">
      </div>
      <div class="content">
        <ul class="compare">
          <li class="compare">Gorge Sèche</li>
          <li class="compare">Difficulté respiratoire</li>
          <li class="compare">Fièvre (38° à 40°)</li>
          <li class="compare">10 en potentiel de peur</li>
          <li class="compare">Déjà plus de 1 000 000 exemplaires vendus</li>
          <li class="compare">Avec 50 000 cas fatal</li>
        </ul>
      </div>
      <div class="price">
        <a href="{{ "/shop" | relative_url }}" class="bottom-compare">
          <p class="cart">Aperçu</p>
        </a>
      </div>
    </div>
  </div>

  <div class="whole">
    <div class="type">
      <p>COVID-19 PRO</p>
    </div>
    <div class="plan">
      <div class="header-compare">
        <img class="d-block mx-auto compare-img" src="assets/img/corona-cell.png" alt="">
      </div>
      <div class="content">
        <ul class="compare">
          <li class="compare">Gorge Arride</li>
          <li class="compare">Détresse respiratoire</li>
          <li class="compare">Fièvre (40° et +)</li>
          <li class="compare">10 en potentiel de terreur</li>
          <li class="compare">Déjà plus de 1 000 000 000 exemplaires pré-commandés</li>
          <li class="compare">Avec une prévision de 500 000 de cas fatal</li>
        </ul>
      </div>
      <div class="price">
        <a href="{{ "/shop" | relative_url }}" class="bottom-compare">
          <p class="cart">Aperçu</p>
        </a>
      </div>
    </div>
  </div>
</div>