---
layout: default
---

<div id="container">

  <div class="row">  
    <div class="col-sm-4"><input class="btn-lg btn-outline-dark" type="button" value="Commencer à enregistrer" onclick="startVideo();" /></div>
    <div class="col-sm-4"><input class="btn-lg btn-outline-dark" type="button" value="Prendre une photo" onclick="takePicture();" /></div>
    <div class="col-sm-4"><input class="btn-lg btn-outline-dark" type="button" value="Arrêter la vidéo" onclick="stopVideo();" /></div>
  </div class="row">

  <div class="row mt-5">
    <div class="col-sm-6">
      <video id="video" width="500">
      </video>
    </div>
    <div class="col-sm-6">
      <canvas id="canvas" width="500" height="376px">
      </canvas>
    </div>
  </div>

  <div class="gal-wrapper">
    
  
    <div class="row"> 
        <div class="column">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
        </div>
        <div class="column">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
          <img src="assets/icons/pandeminc512.png" style="width:25%" alt="">
        </div> 
  
      </div>
      <noscript>
        <div class="row">
          Javascript is needed for the app to work
        </div>
      </noscript>
  </div>

</div>
