---
layout: default
---
<div id="container">
  <div id="map">
  </div>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

  <div style="margin-top: 10px">
    <button class="btn-lg btn-outline-dark" id="shareButton"><i class="fa fa-share"></i>Partager</button>
  </div>
  <div style="margin-top: 10px">
    Orientation de l'appareil :
    <div style="margin-top: 10px" id="log"></div>
  </div>
</div>