---
layout: default
---

<div class="mt-5 container text-center">
  <div class="row">
    <div class="col-sm-6 border">
      <h1>COVID-19</h1>
      <img class="d-block mx-auto compare-img" src="assets/img/covid19.png" alt="">
      <button type="button" class="btn btn-success" onclick="doVibrate();">Achetez-le</button>
    </div>
    <div class="col-sm-6 border">
      <h1>COVID-19 PRO</h1>
      <img class="d-block mx-auto compare-img" src="assets/img/corona-cell.png" alt="">
      <button type="button" class="btn btn-success" onclick="doVibrate();">Achetez-le</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 border">
      <h1>COVID-18</h1>
      <img class="d-block mx-auto compare-img" src="assets/img/covid18.png" alt="">
      <button type="button" class="btn btn-success" onclick="doVibrate();">Achetez-le</button>
    </div>
    <div class="col-sm-6 border">
      <h1>COVID-18 PRO</h1>
      <img class="d-block mx-auto compare-img" src="assets/img/covid18pro.png" alt="">
      <button type="button" class="btn btn-success" onclick="doVibrate();">Achetez-le</button>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-6 border">
      <h1>RHUME</h1>
      <img class="d-block mx-auto compare-img" src="assets/img/rhume.png" alt="">
      <button type="button" class="btn btn-success" onclick="doVibrate();">Achetez-le</button>
    </div>
    <div class="col-sm-6 border">
      <h1>GRIPPE</h1>
      <img class="d-block mx-auto compare-img" src="assets/img/grippe.png" alt="">
      <button type="button" class="btn btn-success" onclick="doVibrate();">Achetez-le</button>
    </div>
  </div>
</div>